
:root {
    --white : #FFFFFF ;
    --dark : #4564a0 ;
    --mid : #819ed6 ;
    --light : #b6cdfa ;
    --green : #71babc ;
}

* {
    font-family: ui-sans-serif,sans-serif;
    font-size : 100% ;
    outline : none;
    padding : 0 ;
    margin : 0 ;
}

a {
    -webkit-text-decoration : inherit ;
    text-decoration : inherit ;
    color : inherit ;
}

.bg-white {
    background-color : var( --white )
}

.v-screen {
    height: 100vh;
}

.aspect-1-1 {
    aspect-ratio : 1 / 1 ;
}


.pv-5 {
    padding-bottom : 1.8rem ;
    padding-top : 1.8rem ;
}

.ph-5 {
    padding-right : 1.8rem ;
    padding-left : 1.8rem ;
}

.ml-3 {
    margin-left : 1rem ;
}

.h-10 {
    height : 3.2rem;
}

.flex-column {
    display : flex ;
    flex-direction : column ;
}

.flex-row {
    display : flex ;
    flex-direction : row ;
}

.item-horz {
    align-items : center ;
}

.item-vert {
    justify-content : center ;
}

.bold {
    font-weight : bold ;
}

.font-8 {
    font-size : 2rem ;
}

.font-6 {
    font-size : 1.5rem ;
}

.color-dark {
    color: var( --dark );
}

.color-mid {
    color : var( --mid ) ;
}

.color-green {
    color : var( --green ) ;
}

.color-light {
    color : var( --light ) ;
}

.w-100 {
    width : 100%;
}

.m-h-auto {
    margin-right : auto ;
    margin-left : auto ;
}

.mw-10 {
    max-width : 1000px ;
}

.p-h-4 {
    padding-left : 1.6rem ;
}

.m-t-4 {
    margin-top : 1.6rem ;
}

.br-2 {
    border-radius : 0.5rem ;
}

.lh-4 {
    line-height : 1.6rem ;
}

.bw-3 {
    border-width : 0.8px ;
}

.bs-A {
    box-shadow : 0 1px 3px 0 #00000033 ;
}

.p-v-1 {
    padding-top : 0.4rem ;
    padding-top : 0.4rem ;
}

.p-h-2 {
    padding-right : 0.8rem ;
    padding-left : 0.8rem ;
}

.w_100-4 {
    width : calc(100% - 1.6rem) ;
}

.bw-1 {
    border-width: 1px;
}

.bc-A {
    border-color : #00000022 ;
}



