
:root {
    --white : #FFFFFF ;
}


.bg-white {
    background-color : var(--white)
}

.v-screen {
    height: 100vh;
}

.aspect-1-1 {
    aspect-ratio : 1 / 1 ;
}

.h-10 {
    height : 3.2rem;
}

.flex-column {
    display : flex ;
    flex : column ;
}
