
:root {
    --white : #FFFFFF ;
    --dark : #4564a0 ;
    --mid : #819ed6 ;
    --light : #b6cdfa ;
    --green : #71babc ;
}

* {
    font-family: ui-sans-serif,sans-serif;
    padding : 0 ;
    margin : 0 ;
}

.bg-white {
    background-color : var( --white )
}

.v-screen {
    height: 100vh;
}

.aspect-1-1 {
    aspect-ratio : 1 / 1 ;
}

.h-10 {
    height : 3.2rem;
}

.flex-column {
    display : flex ;
    flex-direction : column ;
}

.flex-row {
    display : flex ;
    flex-direction : row ;
}

.item-horz {
    align-items : center ;
}

.item-vert {
    justify-content : center ;
}

.bold {
    font-weight : bold ;
}

.font-8 {
    font-size : 2rem ;
}

.font-6 {
    font-size : 1.5rem ;
}

.color-dark {
    color: var( --dark );
}

.color-mid {
    color : var( --mid ) ;
}

.color-green {
    color : var( --green ) ;
}

.color-light {
    color : var( --light ) ;
}